 
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{%  static 'css/cssNav.css'  %}">
    </head><body>
        <div class="navbar">
            <a class="active" href="Home.html">Home</a>
            <div class="dropdown">
                <button class="dropbtn">SEM-1</button>
                <div class="dropdown-content">
                    <a href="{% url  'master'  %}">MCA-101</a>
                    <a href="{% url  'master'  %}">MCA-102</a>
                    <a href="{% url  'master'  %}">MCA-103</a>
                    <a href="{% url  'master'  %}">MCA-104</a>  
                    <a href="{% url  'master'  %}">MCA-105</a>
                   
                    </div></div>
            <div class="dropdown">
                <button class="dropbtn">SEM-2</button>
                <div class="dropdown-content">
                    <a href="#">MCA-201</a>
                    <a href="#">MCA-202</a>
                    <a href="#">MCA-203></a>
                    <a href="#">MCA-204</a>  
                    <a href="#">MCA-205</a>
                    
                    </div></div>
            <div class="dropdown">
                <button class="dropbtn">SEM-3</button>
                <div class="dropdown-content">
                    <a href="#">MCA-301</a>
                    <a href="#">MCA-302</a>
                    <a href="#">MCA-303</a>
                    <a href="#">MCA-304</a>  
                    <a href="#">MCA-305</a>
                 
                    </div></div>
            <div class="dropdown">
                <button class="dropbtn">SEM-4</button>
                <div class="dropdown-content">
                    <a href="#">MCA-401</a>
                    <a href="#">MCA-402</a>
                    <a href="#">MCA-403</a>
                    <a href="#">MCA-404</a>  
                    <a href="#">MCA-405</a>
                   
                    </div></div>
          <div class="login">
                <a href="InteractiveLogin.html">Login</a>
            </div>
            </div>

            </body>
            </html>

